// global grid map
$susy: (
  columns: 12,
  gutters: 1/2,
  global-box-sizing: border-box,
);

.l-container{
  @include container( $above-wide );
  padding-left: 10px;
  padding-right: 10px;
  @include breakpoint($above-skinny){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include breakpoint($above-wide){
    padding-left: 0;
    padding-right: 0;
  }
}
.l-one-third{
  @include breakpoint($above-stacked, $no-query: '.old-ie'){
    @include span(4);
    &.l-last{
      @include span(4 last);
    }
  }
}
.l-two-thirds{
  @include breakpoint($above-stacked, $no-query: '.old-ie'){
    @include span(8);
  }
}

.l-last{
  margin-right:0;
}
