$button-bg-color: $primary-color;
$button-color: #fff;
$button-border: 1px solid $button-bg-color;
$button-border-radius:  0;
$button-hover-background: shade($button-bg-color, 15%);
$button-padding: 10px 30px;
$button-margin: 15px 10px 0 0;
$button-font-weight:400;

$button-subdued-bg-color: #fff;
$button-subdued-color: $button-bg-color;
$button-subdued-border: 1px solid $button-bg-color;
$button-subdued-hover-background: shade($button-subdued-bg-color, 5%);

input[type="submit"],
button{
  background-color: $button-bg-color;
  color: $button-color;
  border: $button-border;
  @include border-radius( $button-border-radius );
  padding: $button-padding;
  margin: $button-margin;
  font-weight: $button-font-weight;
  @include font-size(1.8);
  &:hover{
    background-color: $button-hover-background;
  }
  &.subdued{
    background-color: $button-subdued-bg-color;
    color: $button-subdued-color;
    border: $button-subdued-border;
    &:hover{
      background-color: $button-subdued-hover-background;
    }
  }
}