{% extends "schedule/base.html" %}
{% load i18n scheduletags schedule_ext_tags frontendadmin_tags %}



 {% block body %}
  {% include "schedule/_dialogs.html" %}

    {% if calendar.name %}
    <h1 class="calendarname">{{ calendar.name }}</h1>
    {% else %}
    <h1 class="calendarname">Upcoming Events</h1>
    {% endif %}


  {% frontendadmin_add "schedule.Event" "Add event" %}
    {% prevnext "month_calendar" calendar.slug periods.month "F Y"%}
      {% month_table calendar periods.month "regular" %}
{% endblock %}

{% block sidebar %}


    {% upcoming_events as "events" 10 %}
    <div class="sm-event-list">
    {% for event in events %}
        <div class="clearfix">
            <div class="sidebar-date">
                <div class="date">
                    <span class="month">{# {{ event.start|date:"D" }}, #}{{ event.start|date:"M" }}</span>
                    <span class="day">{{ event.start|date:"j" }}</span>
                </div>
            </div>
            <div class="sidebar-date-title">
                <h5 class="agenda_title">
                    <a href="{% url event event.event_id %}">{{ event.title }}</a>
                </h5>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock sidebar %}